.radius-50{
  border-radius: 50%;
}
.radius-8{
  border-radius: 8px;
}
.radius-4{
  border-radius: 4px;
}
.radius-0{
  border-radius: 0px;
}
.fz-24{
  font-size: 24px;
}
.fz-16{
  font-size: 16px;
}
.fz-14{
  font-size: 14px;
}
.fz-12{
  font-size: 12px;
}

.lh-1{
  line-height: 1;
}
.indent-16{
  text-indent: 16px;
}
.ff-mono{
  font-family: monospace;
}
.cursor-pointer{
  cursor: pointer;
}